streamlit
torch==2.2.0+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.1+cpu --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.2.1+cpu --index-url https://download.pytorch.org/whl/cpu
opencv-python
Pillow
matplotlib
pip install -r requirements.txt
streamlit run app.py
